# Ignore everything
*

# Un-ignore

# Notebooks
!notebooks/
!notebooks/04_event_study_analysis.ipynb

# Data - include everything except large files
!data/
!data/**
data/processed_html_parsed/all_revisions.csv

# Figures - include everything
!figures/
!figures/**

# Scripts
!scripts/
!scripts/*.py
scripts/__pycache__/

# Config
!.gitignore
